<%- include("partials/header.ejs")  %>

<div class="main">
<% if(locals.blogs){ %>
    <% blogs.forEach(blog => {%>
         <div class="posts">
                <b><%= blog.title %></b>
                <p><%= blog.description.substring(0,100) %> </p>
                <div class="icons">
                    <a href="/edit"> <img class="edit" src="images/feather.svg" alt=""></a>
                    <a href="/delete"><img class="edit" src="images/trash.svg" alt=""></a>
                </div>
         </div>
   <% })}%>
    <div class="no_posts">
        <a href="/addposts"><i>+</i> New Post</a>
    </div>
</div>
<%- include("partials/footer.ejs")  %>